@model Garage.Models.ViewModels.MemberViews.MemberDetailsViewModel
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkedVehicles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkedVehicles)
        </dd>

    </dl>
    <h2>Fordon i Garaget</h2>
    <dl class="dl-horizontal">
        @foreach (var item in Model.Vehicles)
        {
            <dt>Registrerings Nummer:</dt>
            <dd>@Html.ActionLink(Html.DisplayFor(m => item.RegNr).ToString(), "Details", "Parking", new { RegNr = item.RegNr }, null)</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ShowMembers")
</p>
