@model Garage.Models.ViewModels.MemberViews.MemberCreateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<dl>
    <dt>@Html.DisplayNameFor(m => m.FirstName)</dt>
    <dd>@Html.EditorFor(m => m.FirstName)</dd> @Html.ValidationMessageFor(m => m.FirstName, null , new { @class = "text-danger" })
    <dt>@Html.DisplayNameFor(m => m.LastName)</dt>
    <dd>@Html.EditorFor(m => m.LastName)</dd> @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
    <dd>@Html.EditorFor(m => m.Email)</dd> @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
</dl>
    <input type="submit" value="Registrera" />
    <input type="button" value="Gå tillbaka" onclick="location.href='@Url.Action("Search", "Welcome")'" />
}
