@model Garage.Models.ViewModels.ParkingViews.ParkingFormViewModel

<div>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.VehicleType)</dt>
        <dd>@Html.DropDownListFor(m => m.Type, new SelectList(Model.VehicleType, "id", "Type"), "Typ av fordon")</dd>
        <dt>@Html.DisplayNameFor(m => m.RegNr)</dt>
        <dd>@Html.EditorFor(m => m.RegNr)</dd>
        <dt>@Html.DisplayNameFor(m => m.Color)</dt>
        <dd>@Html.EditorFor(m => m.Color)</dd>
        <dt>@Html.DisplayNameFor(m => m.Fabricate)</dt>
        <dd>@Html.EditorFor(m => m.Fabricate)</dd>
        <dt>@Html.DisplayNameFor(m => m.FabricateModel)</dt>
        <dd>@Html.EditorFor(m => m.FabricateModel)</dd>
    </dl>


</div>
